.movie-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.movie-thumbs {
    margin-top: 1em;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.75em;

    img { max-width: 100%; }
}
video { 
    min-width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 1000px) {
    .movie-container {
        grid-template-columns: 1fr 3fr;
    }
}