.text-wrapper{
    h1{
        font-size: large;
    }
    p{
        font-size: small;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    h4{
        display: inline-block;
        padding-right: 2em;
        font-size: small;
    }
}

.movie-thumbs {
    margin-top: 1em;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.75em;

    img { max-width: 100%; }
}
video { 
    min-width: 100%;
    max-width: 100%;
}


@media screen and (min-width: 1000px) {
    .text-wrapper{
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: 1.2em;
            padding-top: 1em;
            padding-bottom: 1em;
        }
        h4{
            display: inline-block;
            padding-right: 2em;
            font-size: 1em;
        }
    }
}