body{
    background-image: none;
    background-color: rgb(66, 10, 88);
}

.users-headline { font-size:2em; margin-bottom: 1.5em; }

.users-container { 
    display: flex;
    justify-content: center;

    .user-panel { 
        flex: 0 1 150px; 
        border: 2px solid rgba(255, 255, 255, 0.2);
        flex-wrap: wrap;
        border-radius: 0.5em;
        margin: 0 1em;
        background-color: rgba(147, 65, 161, 0.8);
        cursor: pointer;

        img { margin-bottom: 0.75em; }
    }
}
