body{
    background-image: none;
    background-color: rgb(66, 10, 88);
}

.movie-container{
    display: block;

    .videoHeader{
        min-width: 96vw;
        object-fit: cover;
        padding: 0;
    }

    .movieBio{
        padding: 2em 2em 2em;
        background: rgba(41, 22, 49, 0.618);
    }

}

.movieQueryMessage h1{
    padding: 2em 0 0 1em;
    margin-bottom: -1em;
    font-size: larger;
}

.movie-thumbs {
    margin-top: 1em;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.75em;

    img { max-width: 100%; border-radius: 0.3em; }
}
video { 
    min-width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 800px) {

    .movie-thumbs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.75em;
    }
}